<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ahmed.cufe">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomePage"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DeadlineTracker">
            <intent-filter>
                <action android:name="com.example.ahmed.cufe.DeadlineTracker" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".NewDeadline">
            <intent-filter>
                <action android:name="com.example.ahmed.cufe.NewDeadline" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Deadlines_Track">
            android:theme="@style/AppTheme.PopupOverlay">
            <intent-filter>
                <action android:name="com.example.ahmed.cufe.Deadlines_Track" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Attendancee"
            android:label="@string/title_activity_attendancee"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.example.ahmed.cufe.Attendancee" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".News">
            <intent-filter>
                <action android:name="com.example.ahmed.cufe.News" />
                android:label="@string/title_activity_news"
                android:theme="@style/AppTheme">
            </intent-filter>
        </activity>




        <activity android:name=".Course_work">
            <intent-filter>
                <action android:name="com.example.ahmed.cufe.Course_work" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>